.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/images/hero-image.png');
    position: relative;
}

.section1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, black, transparent);
}

.section1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.section1Details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    color: white;
    z-index: 1;
    text-align: center;
    padding: 10px;
}

.section1Title {
    font-size: 3rem;
    max-width: 25rem;
    color: #fffccc;
}

.section1Description {
    font-size: 1.2rem;
}

.section2 {
    height: 100vh;
    background-image: url('../../assets/images/sections-image.png');
    background-size: 101%;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    background-image: url('../../assets/images/sections-image.png');
    background-size: 101%;
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.section3Cards {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    z-index: 1
}

.section3Heading {
    z-index: 1;
}

.section3Heading>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.section3Heading>div> :first-child {
    font-size: 2.5rem;
}

.section3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0b0e11ee;
}

.section4 {
    height: 120vh;
    background-image: url('../../assets/images/sections-image.png');
    background-size: 101%;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 50px;
    padding: 4rem 0;
}

.section4Menus {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}


.section5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    height: 50vh;
    background-image: url('../../assets/images/sections-image.png');
    background-size: 101%;
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.section5::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0b0e11ee;
}

.section5Imgs1 {
    position: relative;
    position: absolute;
    left: 8rem;
}



.section5Imgs1>:nth-child(2) {
    position: absolute;
    left: 70px;
}

.section5Imgs2 {
    position: relative;
    position: absolute;
    right: 8rem;
}

.section5Imgs2>:nth-child(2) {
    position: absolute;
    left: 70px;
}

.section3Heading>div>:nth-child(1) {
    width: 30rem;
}

.section5Btn {
    z-index: 1;
}

.section6 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13rem;
    height: 25vh;
    background-image: url('../../assets/images/sections-image.png');
    background-size: 101%;
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.section6::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0b0e11ee;
}


.section6>div {
    z-index: 1;
}

.section7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    background-image: url('../../assets/images/sections-image.png');
    background-size: 101%;
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.section8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    height: 120vh;
    background-image: url('../../assets/images/sections-image.png');
    background-size: 101%;
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.section8blogs {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section9 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    height: 50vh;
    color: white;
    background-image: url('../../assets/images/sections-image.png');
    background-size: 101%;
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.section9::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0b0e11ee;
}

.section9>div {
    z-index: 1;
    width: 25%;
}

.section9One {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.section9Logo {
    display: flex;
    align-items: center;
    gap: 1rem
}

.section9One>p {
    text-align: start;
    max-width: 70%;
}

.section9Icon {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.section9Two {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

}

.section9Two>h3 {
    align-self: start;
}

.section9Two>ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: start;
}

.section9Three {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.section9Three>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
}