.counterSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(188, 170, 146);
}

.totalValue{
    font-size: 4rem;
    margin-top: 2rem;
    font-weight: bold;
    color: rgb(29, 6, 142);
    width: 50%;
    text-align: center;


}

.value{
    background-color: aqua;
    color: black;
    min-width: 6rem;
    display: inline-block;
    border-radius: 6px;
    border: 3px solid #cccccc71;
    padding: 0.5rem;
}